<main class="text-center">
    <main class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="product-image">
                    <img src="https://m.media-amazon.com/images/I/61cmLQYt0GL._AC_UF1000,1000_QL80_.jpg"
                         alt="Imagem do produto" class="img">
                </div>
            </div>
            <div class="col-md-6">
                <div class="product-name">Relógio Migger</div>
                <div class="product-description">
                    Características:

                    Alta qualidade. <br>
                    Design exclusivo de mostrador redondo, muito chique e elegante
                    Fecho de fivela ajustável.<br>
                    Usar este relógio de pulso é uma experiência tão maravilhosa, como se você estivesse tocando uma obra
                    de arte.
                    Visor: analógico.<br>
                    Movimento: quartzo.<br>
                    Formato do mostrador: redondo.<br>
                    Material: aço inoxidável.<br>
                    Diâmetro da caixa: 40 mm.<br>
                    Espessura da caixa: 8 mm.<br>
                    Comprimento da pulseira: 200 mm (inclui a capa).<br>
                    Largura da pulseira: 20 mm.<br>
                    Quantidade: 1 unidade.<br><br>

                    Conteúdo da embalagem:<br>

                    1 relógio de pulso.
                </div>
                <div class="product-add-to-cart mt-3">
                    <button class="btn btn-primary"><a href="/cesta">Adicionar à cesta de compras</a></button>
                </div>
            </div>
        </div>
    </main>
</main>