<!DOCTYPE html>
<html lang="pt">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesta de Compras</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="vitrine.component.css">
</head>



<body>
    <div class="container2">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/jaeger.jpg" alt="Rolex Datejust" class="img">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Jaeger-LeCoultre Joaillerie 101 Manchette</h5>
                        <p class="card-text">Descrição do produto: Com 576 diamantes e um opulento mostrador de safira,
                            o relógio conhecido como “Jaeger-LeCoultre Joaillerie 101 Manchette” foi um presente dado
                            para a Rainha Elizabeth II em comemoração aos seus 60 anos de reinado.</p>
                        <p class="card-text">Preço: U$ 26.000.000,00</p>
                        <button type="button" class="btn btn-primary">
                            <a href="/producao-detalhe">
                                Comprar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/rolex1.png" alt="Rolex Datejust" class="img">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Rolex Datejust</h5>
                        <p class="card-text">Descrição do produto: O Rolex Datejust é um relógio clássico e elegante que
                            é perfeito para qualquer ocasião. O mostrador prateado é complementado por um bisel canelado
                            e uma pulseira Jubilee de aço inoxidável. O relógio é alimentado pelo movimento automático
                            Calibre 3235, que oferece uma reserva de marcha de 70 horas.</p>
                        <p class="card-text">Preço: R$ 15.000,00</p>
                        <button type="button" class="btn btn-primary">
                            <a href="\producao-detalhe">
                                Comprar
                            </a>
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/rolex3.png" alt="Rolex Oyster Perpetual Datejust 41" class="img">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Rolex Oyster Perpetual Datejust 41</h5>
                        <p class="card-text">Descrição do produto: O Rolex Oyster Perpetual Datejust 41 é um relógio
                            clássico e elegante, perfeito para qualquer ocasião. O mostrador azul profundo é
                            complementado por um bisel canelado e uma pulseira Jubilee de aço inoxidável. O relógio é
                            alimentado pelo movimento automático Calibre 3235, que oferece uma reserva de marcha de 70
                            horas.</p>
                        <p class="card-text">Preço: R$ 73.500,00</p>
                        <button type="button" class="btn btn-primary">
                            <a href="/producao-detalhe">
                                Comprar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br/>
            <br/><br/>
            <br/>
        <div class="row">
            
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="../../assets/patek.jpg" alt="Rolex Oyster Perpetual Datejust 41" class="img">
                    <div class="card-img-overlay">
                        <h5 class="card-title">Patek Philippe Grandmaster Chime Ref. 6300A-010</h5>
                        <p class="card-text">Descrição do produto: O relógio apresenta mostradores em opalina azul e os
                            numerais foram aplicados em ouro, sendo que a placa central foi produzida em ouro maciço de
                            18 quilates. A pulseira do relógio também apresenta um material muito raro. Ela foi
                            produzida com couro de crocodilo azul marinho.</p>
                        <p class="card-text">Preço: U$ 31.000.000,00</p>
                        <button type="button" class="btn btn-primary">
                            <a href="/producao-detalhe">
                                Comprar
                            </a>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>