<link rel="stylesheet" href="producao-busca.component.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<div class="container2">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/rolex1.png" alt="Imagem do Produto">
                <div class="card-img-overlay">
                    <h5 class="card-title">Rolex Datejust</h5>
                    <p class="card-text">Descrição do produto: O Rolex Datejust é um relógio clássico e elegante que é perfeito para qualquer ocasião. O mostrador prateado é complementado por um bisel canelado e uma pulseira Jubilee de aço inoxidável. O relógio é alimentado pelo movimento automático Calibre 3235, que oferece uma reserva de marcha de 70 horas.</p>
                    <p class="card-text">Preço: R$ 15.000,00</p>
                    <button type="button" class="btn btn-primary btn-lg">
                        <a href="cesta.html">
                            Comprar
                        </a>
                    </button>
                </div>
            </div>
        </div>
    
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="../../assets/rolex3.png" alt="Imagem do Produto">
                <div class="card-img-overlay">
                    <h5 class="card-title">Rolex Oyster Perpetual Datejust 41</h5>
                    <p class="card-text">Descrição do produto: O Rolex Oyster Perpetual Datejust 41 é um relógio clássico e elegante, perfeito para qualquer ocasião. O mostrador azul profundo é complementado por um bisel canelado e uma pulseira Jubilee de aço inoxidável. O relógio é alimentado pelo movimento automático Calibre 3235, que oferece uma reserva de marcha de 70 horas.</p>
                    <p class="card-text">Preço: R$ 73.500,00</p>
                    <button type="button" class="btn btn-primary">
                        <a href="cesta.html">
                            Comprar
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>