body {
    background-color: lightgray;
}

.card {
    transition: transform .2s;
}

.card:hover {
    transform: scale(1.05);
}
.card:hover .card-img-overlay {
    opacity: 1;
}
.card-img-overlay {
    opacity: 0;
    transition: opacity .5s;
    background-color: gainsboro;
}

header {
    background-color: teal;
    padding: 20px;
    text-align: center;
}

.header a {
    color: #6c757d;
    margin: 0 10px;
    text-decoration: none;
}

.header a:hover {
    color: #007bff;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.formulario-busca {
    display: flex;
    align-items: center;
}

.formulario-busca input {
    margin-right: 10px;
}

.header i.fas {
    font-size: 35px;
    color: black;
}

.container2 {
    margin: 50px;
    padding-bottom: 50px;
}


.img {
    /* width: 100px;
    height: 200px;
    display: block;
    margin: 0 auto; */
    width: auto;
    
}

#a1 {
    color: black;
    text-decoration: none;
}